<%= form_for Plateau.new, method: :post do |f| %>
  <h2> New Plateau</h2>
  <div class="field">
    <%= f.label :width %><br>
    <%= f.text_field :width%>
  </div>
  <br/>
  <div class="field">
    <%= f.label :height %><br>
    <%= f.text_field :height%>
  </div>
  <br/>
  <%= f.submit "Create Plateau" %>
<% end %>
<br/>
<%= link_to 'Back', root_path%>