<%= form_for @rover do |f| %>
  <% if @rover.errors.any? %>
    <% @rover.errors.full_messages.each do |message|%>\
      <h3><%= message %> </h3>
    <%end%>
  <%end%>
  <h2> Create Rover # <%= Rover.all.count + 1 %></h2>
  <div class="field">
    <%= f.label :x_coordinate %><br>
    <%= f.text_field :x_coordinate%>
  </div>
  <br/>
  <div class="field">
    <%= f.label :y_coordinate %><br>
    <%= f.text_field :y_coordinate %>
  </div>
  <br/>
  <div class="field">
    <%= f.label :direction %><br>
    <%= f.text_field :direction%>
  </div>
  <br/>
  <div class="field">
    <%= f.label :movements %><br>
    <%= f.text_field :movements%>
  </div>
  <br/>
  <%= f.submit "Create Rover" %>
<% end %>
<br/>
<%= link_to 'Start Rover(s)', start_path %>